<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!--     <style type="text/css">
      {{{css}}}
    </style> -->
  </head>
  <body style="font-family: Helvetica, 'Nimbus Sans L', 'Liberation Sans', FreeSans, sans-serif; background: #8C7F70; padding: 80px;">
    <table cellpadding="0" cellspacing="0" align="center" border="0" 
           style="border-collapse: collapse;">
      <tr>
          <td class="header" align="center" valign="center" border="0" style="background: #1e386c; color: #fff; text-align: center; height: 120px;">
            <img style="width: 200px; margin: 0 auto;" src="https://res.cloudinary.com/plurimedia/image/upload/v1607687104/alfalaval_sys_prod/png-white.png" alt=""/>
          </td>
      </tr>
      <!-- contenuto -->
      <tr>
        <td class="column content" width="600" align="left" valign="top" border="0" style="background: #fff; color: #333; padding: 40px 20px 40px 20px;">
          <h1 class="title" style="margin: 0 0 40px 0; font-weight: bold; font-size: 24px; text-align: center;">Size Your system - Information Request</h1>
          <p>For {{mailType}} </p>
          <ul>
            {{#prodotto}}
            <li style="margin-bottom: 10px;">Product: <strong>{{prodotto}}</strong>  </li>
            {{/prodotto}}            
            <li style="margin-bottom: 10px;">Full Name: <strong>{{name}}</strong>  </li>
            <li style="margin-bottom: 10px;">Email: <strong>{{email}}</strong> </li>
            <li style="margin-bottom: 10px;">Company: <strong>{{company}}</strong>  </li>
            <li style="margin-bottom: 10px;">Phone: <strong>{{phone}}</strong>  </li>
            <li style="margin-bottom: 10px;">Message: <strong>{{msg}}</strong>  </li>
          </ul>
        </td>
      </tr>
    </table>
  </body>
</html>